@import "~@angular/material/prebuilt-themes/indigo-pink.css";
.mat-typography {
  margin: 0; /* Anula el margen predeterminado */
}



.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1020;
}

.example-spacer {
  flex: 1 1 auto;
}
